<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Book Collection</title>
    <link href="/main.css" th:href="@{/styles/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div><h1>Book Collection</h1></div>

<ul>
    <li><a th:href="@{/add-form}">Add a new book</a></li>
    <li style="background-color: black;"><a th:href="@{/edit-form}">Edit an existing book</a></li>
    <li><a th:href="@{/delete-form}">Delete an existing book</a></li>
    <li><a th:href="@{/list-form}">List all books</a></li>
</ul>
<br>

<form class="myForm" th:action="@{/edit-form}" th:method="post" th:object="${book}">
    <p>
        <label>ID <em class="wildcard">*</em>
            <input type="text" name="book_name" th:field="*{id}" required>
        </label>
    </p>
    <p>
        <label>Name
            <input type="text" name="book_name" th:field="*{name}">
        </label>
    </p>
    <p>
        <label>ISBN Number
            <input type="text" name="book_isbn" th:field="*{isbn}">
        </label>
    </p>
    <p>
        <label>Publish Date
            <input type="text" name="book_publish_dt" th:field="*{publishDate}">
        </label>
    </p>
    <p>
        <label>Price (ZAR)
            <input type="text" name="book_price" th:field="*{price}">
        </label>
    </p>
    <p>
        <label>Book Type
            <input type="text" name="book_type" th:field="*{bookType}">
        </label>
    </p>
    <p><button type="submit">Edit Book</button></p>
</form>


</body>
</html>